<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
    <script src='user.js'></script>
    <script src='db.js'></script>
    <script src='index.js'></script>
    <link rel="stylesheet" href="css/style.css">

<style>
  body{
    background-image: url(images/cmrit.jpg);
height: 95%;
width: 95vw;
background-size: cover;
background-repeat: no-repeat;
position: absolute;
  }
</style>

</head>

<body>
  <form action="/index" method="post" >
    <div class="navbar">
      
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <div class="dropdown">
          <button class="dropbtn">Login
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/student" id="student">Student Login</a>
            <a href="/faculty" id="faculty">Faculty Login</a>
            <a href="/parent" id="parent">Parent Login</a>
            
          </div>
        </div>
      </div>
      
      </form>
      
</body>
</html>